/**
 * Quinoa Stylesheet
 * ==================
 */

/**
 * Layout.
 */
html, body, #mount, #mount > div {
  height: 100%;
}

#wrapper {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/**
 * Editor.
 */
#editor {
  background: white;
  position: absolute;
  border: 1px solid black;
  right: 25px;
  top: 25px;
  padding: 15px;
  width: 450px;
  height: calc(100% - 75px);
  z-index: 2;
  font-family: 'Fira Mono', Monospace;
  overflow-y: scroll;

  & > div {
    height: 100%;
  }

  & .editor-slide {
    padding: 5px;
    min-height: 50px;
    margin-bottom: 10px;
    border: 1px solid transparent;

    &.selected {
      border: 1px solid black;
    }
  }

  & .editor-slide-title {
    border-bottom: 1px solid black;
    margin-bottom: 10px;

    & table {
      width: 100%;
    }

    & .editor-slide-title-hashtag {
      cursor: move;
    }

    & .editor-slide-title-input {
      border: none;
      resize: none;
      height: 1rem;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  & .editor-macro-button {
    width: 100%;
    margin-top: 10px;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;

    &:active {
      background: black;
      color: white;
    }
  }
}

/**
 * Preview.
 */
#preview {
  background: white;
  position: absolute;
  border: 1px solid black;
  padding: 15px;
  width: 300px;
  height: calc(100% - 75px);

  left: 375px;
}

/**
 * Graph.
 */
#graph {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  // Graph container
  & > div,
  & > div > #sigma-container, {
    position: absolute;
    height: 100%;
    width: 100%;

    & > canvas {
      height: 100%;
      width: 100%;
    }
  }

  // Controls
  .controls {
    position: absolute;
    z-index: 3;
    padding: 5px;

    .control > button {
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
    }
  }
}
