/**
 * Quinoa Stylesheet
 * ==================
 */

/**
 * Layout.
 */
html, body, #mount, #mount > div {
  height: 100%;
}

#wrapper {
  position: relative;
  padding: 25px;
  height: calc(100% - 50px);
  width: 0;
}

/**
 * Editor.
 */
#editor {
  background: white;
  position: absolute;
  border: 1px solid black;
  padding: 15px;
  width: 300px;
  height: calc(100% - 75px);

  font-family: Monospace;

  & .DraftEditor-root,
  & .DraftEditor-editorContainer,
  & .public-DraftEditor-content {
    height: 100%;
  }
}

/**
 * Preview.
 */
#preview {
  background: white;
  position: absolute;
  border: 1px solid black;
  padding: 15px;
  width: 300px;
  height: calc(100% - 75px);

  left: 375px;
}

/**
 * Graph.
 */
#graph {
  position: absolute;
  height: 100%;
  width: 100%;

  & > #sigma-container, {
    position: absolute;
    height: 100%;
    width: 100%;

    & > canvas {
      height: 100%;
      width: 100%;
    }
  }
}
